<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Leave Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <!-- As a heading -->
    <nav class="navbar bg-primary" >
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="color:white">Employee Leave Management</span>
        </div>
    </nav>

    <div class="container border border-primary rounded w-50 my-5 p-3 " style="max-width:600px;">

        <div class="row text-center">
            <h3 style="color:#0d6efd;"> Login Here </h3>
        </div>
        <div class="row">
            <form class="form my-5 p-3 ">
                <div class="mb-3 ">
                    <label class="form-label" >Email address</label>
                    <input type="email" class="form-control" >
                </div>
                <div class="mb-3 ">
                    <label class="form-label" > Password</label>
                    <input type="password" class="form-control" >
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
<!--        <p>If not registered? </p>-->
<!--        <a th:href="register">Register here</a>-->
        <div class="row ">
            <div class="column col-md-3 ">
                <p>If not registered? </p>
            </div>
            <div class="column col-md-9 ">
                <a th:href="@{/register}">Register here</a>
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>